<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
   <nav>
       <a href="/">Калькулятор ИМТ</a>
       <a href="/BMI/Patient">Добавить</a>
       <a href="/BMI/Statistics">Получить статистику</a>
   </nav>
   <main>
       @RenderBody()
   </main>
</body>
</html>
